.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0 50px;
}

body {
    margin: 0;
    background-color: lightgrey;
}

h2, span, p, input {
    margin: 0;
    font-family: "Caveat", sans-serif;
}

h2, span, p {
    color: #024d9e
}